@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    outline: none;
  }

  body {
    font-family: 'Poppins', sans-serif;
  }

  *::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }
  *::-webkit-scrollbar {
    display: block;
    width: 0.75rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }

  *::-webkit-scrollbar-thumb {
    /* background: pink; */
    @apply bg-primary;
    border-radius: 0.5rem;
  }
}

@layer components {
}

@layer utilities {
}
